body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover; /* S'assure que l'image remplit tout l'écran */
    color: #333;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #561c24;
    color: white;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 1.8em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #561c24;
    outline: none;
    box-shadow: 0 0 5px rgba(86, 28, 36, 0.5);
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    background-color: #561c24;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7c3037;
}
